* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    padding: 20px;
}

#containerPai {
    background-color: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 1.4rem;
    margin-bottom: 25px;
}

.campo {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 0.3px solid black;
}

button#btnCalcular {
    width: 100%;
    padding: 12px;
    background-color: #0072ff;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#valorGorjeta, #totalPagar {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}